<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OpenCore-Patcher-T2</string>
	<key>CFBundleExecutable</key>
	<string>OpenCore-Patcher-T2</string>
	<key>CFBundleIconFile</key>
	<string>OC-Patcher.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.albert-mueller.opencore-legacy-patcher-t2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OpenCore-Patcher-T2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.6</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020-2026 Dortania</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.albert-mueller.opencore-patcher-t2.privileged-helper</key>
		<string>identifier "com.albert-mueller.opencore-patcher-t2.privileged-helper" and anchor apple generic</string>
	</dict>
</dict>
</plist>
